.flecha {
  position: absolute;
  right: 10px;
  padding: 10px;
  
}
.caracteristicas{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.iconos {
  width: 40px;
  color: #623cea;
  padding: 10px;
}
.celda{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Estilos para pantallas medianas */
@media (max-width: 767px) {
  .caracteristicas{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 15px;
  }
  .celda{
    display: flex;
    align-items: center;
    justify-content:stretch;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  
}